<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>alimama</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.alimama.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.alimama.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>com.alimama.Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.alimama.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Image</display-name>
    <servlet-name>Image</servlet-name>
    <servlet-class>com.alimama.Image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.alimama.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>com.alimama.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
</web-app>